html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1 Welcome to Wwoof France!
            p
                strong To get started, click on the following link:
